
.arrow-btn {
    width: 70px;
    height: 70px;
    border: 2px solid color(light-text);
    position: relative;
    margin-right: 10px;
    border-radius: 5px;;
    .icon{
        color: color(light-text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 32px;
    }
}

@media (max-width: 1376px) {
    .arrow-btn {
        width: 50px;
        height: 50px;
    }
}