.cart {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
    height: 100%;
    .cart-btn {
        font-size: 12px;
    }

    .cart-container {
        display: none;
        margin: 0;
        box-shadow: 0px 10px 20px #00000033;
        background-color: #fff;
                
        ul {
            list-style: none;
                    
            li {
                text-align: right;
                padding: 10px 20px;
                color: #001926;
                font: normal normal normal 14px/21px Poppins;
                letter-spacing: 0.56px;
            }
            .cart-item {
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0px 10px 20px #00000033;
                margin: 25px;

                .item-img {
                    height: 70px;
                }
                .item-name {
                    width: 200px;
                    flex: 1;
                    text-align: left;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 0px;
                    color: #181818;
                }

                .item-count {
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    margin: 0 5px;

                    background: #F5F5F5 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
                .item-btn {
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    margin: 0 7px;

                    background: #F5F5F5 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }

                .item-icon {
                    width: 25px;
                    height: 25px;
                    color: #DC386D;
                }
            }
            
        }

        ul::after {
            position: absolute;
            right: 0;
            top: -10px;
            width: 0;
            height: 0;
            content: '';
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid #fff;
        }

        h2 {
            margin: 25px;
            padding: 10px 0;
            padding-left: 10px;
            box-shadow: 0px 10px 20px #00000033;

        }
    }
    .cart-container.open {
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
    }
}


@media (max-width: 768px) {
    .cart {
        .cart-btn {
            font-size: 8px;
        }
    }
}