.paginator-container {
    height: 200px;
    display: flex;
    align-items: center;
    .pager {
        width: 70px;
        height: 70px;
        cursor: pointer;
        background: color(secondary) 0% 0% no-repeat padding-box;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        .pager-icon {
            color: #fff;
            font-size: 32px;
        }
        &:hover {
            transform: scale(1.03,1.03);
        }
    }
    .pager.disabled {
        background: color(dark-secondary);
    }
    ul {
        display: flex;
        list-style: none;

        .pagination-item {
            padding: 20px;
            text-align: center;
            font: normal normal medium 14px/21px Poppins;
            letter-spacing: 2.8px;
            color: #FFFFFF;
            text-transform: uppercase;
            &:hover {
                transform: translateY(-3px);
            }
        }
        .pagination-item.active {
            text-align: center;
            font: normal normal medium 14px/21px Poppins;
            letter-spacing: 2.8px;
            color: color(secondary);
            text-transform: uppercase;
        }
    }
}

@media (max-width: 768px) {
    .paginator-container {
        height: auto;
        margin: 50px 0;
        .pager {
            width: 50px;
            height: 50px;
            
        }
        ul {
            flex-direction: row;
            .pagination-item {
                font-size: 14px;
                padding: 10px;

                
            }
        }
    }
    
}