.product-card {
    width: 360px;
    height: 466px;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #00000033;
    border-radius: 5px;
    position: relative;
    padding-top: 0;
    margin: 20px 0;
    a {
        position: absolute;
        text-decoration: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 10%;

        .product-image {
            width: auto;
            height: 100px;
            max-width: 280px;
            margin-top: 55px;
        }
    
        .new-tag {
            width: 60px;
            height: 45px;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #181818;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }

        .product-title {
            color: var(--unnamed-color-181818);
            text-align: left;
            font: normal normal bold 24px/32px Poppins;
            letter-spacing: 0px;
            color: #181818;
            margin-bottom: 10px;
            font-weight: bold;
        }
    
        .prices {
            display: flex;
            margin-bottom: 10px;
            .discont {
                color: var(--unnamed-color-dc386d);
                text-align: left;
                font: normal normal bold 20px/32px Poppins;
                letter-spacing: 0px;
                color: #DC386D;
                margin-right: 20px;
                padding-right: 10px;
            }
            .full {
                color: var(--unnamed-color-181818);
                text-align: left;
                text-decoration: line-through;
                font: normal normal medium 20px/32px Poppins;
                letter-spacing: 0px;
                color: #181818;
            }
        }
    
    }
    
    .btn {
        width: 80%;
        height: 70px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        z-index: 5;
        transform: translateX(-50%);
        background: #DC386D;
        border-radius: 6px;
        border: none;
        color: var(--unnamed-color-ffffff);
        text-align: center;
        font: normal normal bold 16px/25px Poppins;
        letter-spacing: 0.48px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background: #dc567D;
        }
    }
    &:hover {
        transform: scale(1.02,1.02);
    }
}

@media (max-width: 768px) {
    .product-card {
        width: 280px;
        height: 400px;
        a {
            .product-image {
                max-width: 100%;
            }

            .product-title {
                font-size: 18px;
            }

            .prices {
                .full {
                    font-size: 16px;
                }
                .discont {
                    font-size: 16px;
                }
            }
        }
        .btn {
            bottom: 20px;
        }
    }
}