.search-wrapper {
    max-width: 1146px;
    width: 100%;
    grid-area: search;
    margin: auto;
    position: relative;

    .search {
        width: 100%;
        height: 150px;
        
        align-self: center;
        justify-self: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 30px #0000001F;
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            width: 90%;
            height: 70px;
            position: relative;

            background: #F5F5F5 0% 0% no-repeat padding-box;
            border-radius: 5px;
        }

        &__input {
            background: transparent;
            border: none;
            width: calc(100% - 70px);
            font-size: 16px;
            padding: 25px;
            font-style: italic;
            font-weight: medium;
            text-align: left;
            font: italic normal medium 16px/25px Poppins;
            letter-spacing: 0px;
            color: #566C7D;
            &:focus {
                outline: none;
            }
        }
        &__btn {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            right: 0;

            background: #DC386D 0% 0% no-repeat padding-box;
            border-radius: 5px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &:focus {
                outline: none;
            }
        }

        &__icon {
            color: #fff;
            font-size: 32px;
        }
    }
    .suggestion {
        width: 100%;
        height: auto;
        max-height: 520px;
        overflow: auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 20px #00000029;
        position: absolute;
        top: 150px;
        left: 0;
        z-index: 5;

        ul {
            width: 90%;
            margin: 0 auto;
            list-style: none;
            padding-bottom: 50px;

            li {
                margin-bottom: 10px;
                height: 120px;
                width: 100%;

                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0px 8px 20px #00000014;

                display: flex;
                text-align: center;
                justify-content: space-between;
                padding: 25px;

                img {
                    width: auto;
                    height: 70px;
                }
                .product-title {
                    flex: 2;
                    align-self: center;
                    text-align: center;
                }
                .price-wrapper {
                    flex: 1;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: center;
                    
                    .price {
                        text-align: left;
                        text-decoration: line-through;
                        font-size: 20px;
                        letter-spacing: 0px;
                        color: #181818;
                        margin-top: -50px;
                    }
                    .disconted-price {
                        text-align: left;
                        font-size: 20px;
                        letter-spacing: 0px;
                        color: #DC386D;
                        margin-top: 10;
                    }
                }
                .btn {
                    flex: 1;
                    width: 280px;
                    height: 70px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .search-wrapper {
        width: calc(100% - 20px);
        .search {
            height: 100px;
            
            &__container {
                height: 50px;
            }
            &__input {
                font-size: 12px;
                padding: 18px 0;
                padding-left: 10px;
            }
            &__btn {
                width: 50px;
                height: 50px;
            }
            &__icon {
                font-size: 24px;
            }
        }
        .suggestion {
            top: 100px;

            ul {
                li {
                    align-items: center;
                    height: 80px;
                    padding: 15px 5px; 
                    img {
                        max-width: 100px;
                        height: auto;
                    }
                    .suggestion-name {
                        font-size: 8px;
                    }
                    .price-wrapper {
                        .price {
                            font-size: 8px;
                        }
                        .disconted-price {
                            font-size: 8px;
                        }
                    }
                    .btn {
                        flex: 1;
                        height: 50px;
                        font-size: 8px;
                    }
                }
            }
        }
    }
}