.hero-section {
    width: 100%;
    height: calc(100vh - 20vh);
    margin-top: 20vh;

    background: url('background_hero.png') center no-repeat;
    background-size: cover;
    .hero-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        
        display: grid;
        grid-template-areas: 'content null' 'search search';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 6fr 3fr;
        .content {
            grid-area: content;
            margin-left: 25px;
            align-self: center;
            h1 {
                opacity: 1;
                margin: 25px 0;

                color: color(light-text);
                text-align: left;
                font: normal normal 600 46px/54px Poppins;
                letter-spacing: 0px;
            }
            p {
                opacity: 1;
                margin: 15px 0;
                margin-right: 10px;

                text-align: left;
                font: normal normal normal 18px/30px Poppins;
                letter-spacing: 0px;
                color: color(light-text);
            }
            .btn-container {
                display: flex;
            }
        }
    }
}
@media (max-width: 1376px) {
    .hero-section {
        .hero-container {
            .content {
                h1 {
                    font-size: 36px;
                };
                p {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .hero-section {
        background-position: left;
        margin-top: 150px;
        height: calc(100vh - 150px);
        

        .hero-container {
            width: 90%;
            margin: auto;
            grid-template-areas: 'content' 'search';
            grid-template-columns: 1fr;
            grid-template-rows: 5fr 3fr;

            .content {
                margin: 0;

                h1 {
                    font-size: 24px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}