.recomended-section {
    width: 100%;
    background: linear-gradient(
      135deg,
      rgba(122, 35, 60, 0.9) 0%,
      rgba(122, 35, 60, 0.9) 100%,
    ),
    url('background.png') center no-repeat;
    background-size: cover;
    .recomended-container {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .recomended-title {
            text-align: center;
            font: normal normal 600 28px/48px Poppins;
            letter-spacing: 0px;
            color: #FFFFFF;
            margin-top: 70px;
            margin-bottom: 30px;
        }
    
        .products-container {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
    
        .recomended-btn {

            margin: 50px 0;
            width: 280px;
            height: 70px;
    
            background: #DC386D 0% 0% no-repeat padding-box;
            border-radius: 6px;
    
            text-align: center;
            text-decoration: none;
            padding: 25px 0;
            font: normal normal bold 16px/25px Poppins;
            letter-spacing: 0.48px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 768px) {
    .recomended-section {
        .recomended-container {
            .recomended-title {
                font-size: 18px;
            }
        }
    }
}