.gyik-section {
    margin-top: 20vh;
    .gyik-container {
        width: 60%;
        margin: 0 auto;
        .page-title {
            margin: 15px 0;
        }
        .category-container {
            height: auto;
            margin-bottom: 50px;

            display: flex;
            align-items: center;
            flex-direction: column;
            .category-title {
                width: 100%;
                margin: 25px 0;

                text-align: left;
                font: normal normal medium 28px/48px Poppins;
                letter-spacing: 0px;
                color: color(dark-text);
            }
            .question-container {
                width: 60vw;
                margin-bottom: 5px;

                display: flex;
                justify-content: center;
                flex-direction: column;
                .title-bar {
                    height: 80px;
                    position: relative;
                    display: flex;
                    align-items: center;

                    background: color(grayish);
                    .title {
                        width: 80%;
                        margin: 0;
                        margin-left: 20px;

                        text-align: left;
                        font-size: 20px;
                        color: color(dark-text);
                    }
                    .gyik-icon {
                        position: absolute;
                        top: 50%;
                        right: 25px;
                        transform: translateY(-50%);

                        font-size: 30px;
                    }
                }
                .title-bar.open {
                    background: transparent linear-gradient(90deg,color(secondary) 0%, color(gradient) 100%);
                    .title {
                        margin: 0;
                        margin-left: 20px;

                        text-align: left;
                        font: normal normal medium 20px/48px Poppins;
                        letter-spacing: 0px;
                        color: color(light-text);
                    }
                    .gyik-icon {
                        color: color(light-text);
                    }
                }
                .dropdown {
                    max-height: 0px;
                    width: 100%;

                    animation: close 0.3s ease-in-out;
                    background-color: color(light-text);
                    background: color(light-text) 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 20px color(primary);
                    border-radius: 5px;
                    p {
                        margin: 25px;
                        opacity: 0;

                        text-align: left;
                        font: normal normal normal 16px/25px Poppins;
                        letter-spacing: 0px;
                        color: color(dark-text);
                    }
                }
                .dropdown.open {
                    max-height: 500px;

                    animation: open 1s ease-in-out;
                    p {
                        opacity: 1;
                    }
                }
            }
        }
    }
}




@media (max-width: 768px) {
    .gyik-section {
        .gyik-container {
            width: 90%;
            .home-title {
                width: 90vw;
            }
            .gyik-title {
                font-size: 18px;
            }
            .category-container {
                margin-bottom: 10px;
                .category-title {
                    margin: 10px 0;

                    font-size: 14px;
                }
                .question-container {
                    width: 90vw;
                    .title-bar {
                        height: 50px;
                        .title {
                            margin-left: 10px;
                            
                            font-size: 12px;
                        }
                        .gyik-icon {
                            right: 10px;
                        }
                    }
                    .title-bar.open {
                        .title {
                            margin-left: 10px;

                            font-size: 10px;
                        }
                    }
                    .dropdown.open {
                        height: auto;
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    
}


@keyframes open {
    0% {
      opacity: 0;
      max-height: 0
    }
    100% {
      opacity: 1;
      max-height: 500px;
    }
  }
  
  @keyframes close {
    0% {
      opacity: 1;
      max-height: 500px;
    }
    100% {
      opacity: 0;
      max-height: 0;
    }
  }