@import '../Components/profile/deliverydata';
@import '../Components/profile/delicerysettings';
@import '../Components/profile/address';
@import '../Components/profile/profilesettings';

.profile-section {
    margin-top: 200px;
    width: 100%;
    .page-title {
        width: 60%;
        margin: auto;
    }
    .line {
        width: 60%;
        margin: 0 auto;
    }
    .profile-container {
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 4fr 8fr;
        grid-template-areas: 'profile addresses';
        grid-column-gap: 25px;
        .profile-data {
            grid-area: profile;
            margin: 25px 0;
            max-height: 400px;
            padding: 20px;
            position: relative;

            background: color(light-text) 0% 0% no-repeat padding-box;
            box-shadow: 0px 20px 60px #0000001F;
            transition: 0.5s ease-in-out;

            .settings {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 32px;
            }
            .profile-name {
                font: normal normal bold 24px/32px Poppins;
                letter-spacing: 0px;
                color: color(dark-text);
                margin-bottom: 20px;
            }
            .text-wrapper {
                display: flex;
                align-items: center;
                margin: 10px 0;
                .profile-tel{
                    font: normal normal medium 18px/32px Poppins;
                    letter-spacing: 0px;
                    text-align: left;
                    color: color(dark-text);
                    margin: 0;
                }
                .profile-icon {
                    margin-right: 5px;
                    color: color(secondary);
                }
                svg {
                    font-size: 25px;
                }
            }

            .profile-order {
                position: absolute;
                bottom: 20px;
                left: 20px;
                width: calc(100% - 40px);
                padding: 10px;
                background: color(secondary);
                color: color(light-text);
            }
        }

        
    }
}

@media (max-width: 768px) {
    .profile-section {
        .page-title,
        .line {
            width: 90%;
        }
        .profile-container {
            width: 90%;
            grid-template-columns: 1fr;
            grid-template-rows: 450px auto;
            grid-template-areas: 'profile' 'addresses';
        }
    }
}