.login {
    height: 650px;
}

@media (max-width: 768px) {
    .login-card {
        padding: 70px 40px;
        max-width: 300px;

        .login-card-title {
            font-size: 18px;
        }
    }
}