.login-card {
    height: 645px;

    .error-message {
        color: color(secondary);
        text-transform: uppercase;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .login-card {
        padding: 70px 40px;
        max-width: 300px;

        .login-card-title {
            font-size: 18px;
        }
    }
}