.registration-card {
    height: 760px;
    .checkbox-bar {
        margin: 25px 0;
    }

}

@media (max-width: 768px) {
    .registration-card {
        max-width: 300px;
        padding: 70px 40px;

        .registration-card-title {
            font-size: 18px;
        }
        .btn {
            margin: 10px 0;
        }
        .text {
            margin: 10px 0;
        }
    }
}