@mixin container {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 50px;
    background-color: color(primary);
    .top-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h1 {
            font-size: 12px;
            padding-left: 12px;
            color: color(text);
            font-weight: normal;
            text-transform: uppercase;
        }
        .topbar-button {
            position: relative;
            display: flex;
            align-items: center;
            transition: 0.5s ease-in-out;
            height: 100%;
            .dropdown {
                display: none;
                max-width: 134px;
                margin: 0;
                box-shadow: 0px 10px 20px #00000033;
                background-color: #fff;
                
                ul {
                    list-style: none;

                    
                    li {
                        text-align: right;
                        padding: 10px 20px;
                        color: #001926;
                        font: normal normal normal 14px/21px Poppins;
                        letter-spacing: 0.56px;
                    }
                }
                ul::after {
                    position: absolute;
                    right: 0;
                    top: -10px;
                    width: 0;
                    height: 0;
                    content: '';
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 10px solid #fff;
                }
            }
            .dropdown.open {
                display: block;
                position: absolute;
                top: 50px;
                right: 0;
                
            }
        }
    }
    .nav-container {
        @include container();
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 100%;
            display: flex;
            align-items: center;
            &__title {
                font-family: 'Pacifico', sans-serif;
                color: color(primary);
                font-size: 65px;
                font-weight: normal;
                margin-left: 1rem;
            }

            &__image {
                height: 75px;
                transform: rotate(-20deg);

            }
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            list-style: none;

            &__item {
                color: color(primary);
                text-transform: uppercase;
                padding-left: 1rem;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.96px;
            }

        }
    }
}