.recomended-section {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .recomended-title {
        text-align: center;
        font: normal normal 600 28px/48px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    .products-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .recomended-btn {
        width: 280px;
        height: 70px;

        background: #DC386D 0% 0% no-repeat padding-box;
        border-radius: 6px;

        text-align: center;
        font: normal normal bold 16px/25px Poppins;
        letter-spacing: 0.48px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
}