@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

$colors: (
  primary: #7A233C,
  light-text: #FFFFFF,
  secondary: #DC386D,
  dark-secondary: darken(#dc386d, 5%),
  light-secondary: lighten(#dc386d,5%),
  dark-text: #181818,
  gradient: #FFB3B5,
  colored-text: #460B1C,
  grayish: #F5F5F5,
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@import './Components/header';
@import './Components/home/hero';
@import './Components/nav';
@import './Components/buttons';
@import './Components/search';
@import './Components/footer';
@import './Components/partners';
@import './Components/productcard';
@import './Components/home/recomended';
@import './Pages/gyik';
@import './Pages/contact';
@import './Components/authentication/authentication';
@import './Components/pagination';
@import './Pages/products';
@import './Pages/product';
@import './Components/cart';
@import './Pages/profile';
@import './Components/sidebar';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DC386D;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }