@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

$colors: (
  primary: #7A233C,
  light-text: #FFFFFF,
  secondary: #DC386D,
  dark-secondary: darken(#dc386d, 5%),
  light-secondary: lighten(#dc386d,5%),
  dark-text: #181818,
  gradient: #FFB3B5,
  colored-text: #460B1C,
  grayish: #F5F5F5,
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@import './Components/header';
@import './Components/home/hero';
@import './Components/nav';
@import './Components/buttons';
@import './Components/search';
@import './Components/footer';
@import './Components/partners';
@import './Components/productcard';
@import './Components/home/recomended';
@import './Pages/gyik';
@import './Pages/contact';
@import './Components/authentication/authentication';
@import './Components/pagination';
@import './Pages/products';
@import './Pages/product';
@import './Components/cart';
@import './Pages/profile';
@import './Components/sidebar';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* Szélesség */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /*  Mező */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Csúszka */
  ::-webkit-scrollbar-thumb {
    background: #DC386D;
  }
  
  /* Csúszka ha rajta a kurzor */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .btn {
    //gomb beállításai
    background: color(secondary);
    color: color(light-text);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    //szöveg beállításai
    text-align: center;
    text-transform: uppercase;
    font: normal normal bold 16px/25px Poppins;
    letter-spacing: 0.48px;

    transition: 0.2s ease-in-out;
    &:focus,
    &:active {
      outline: none;
    }
    &:hover {
      background: color(light-secondary);
    }
  }

  .product-title {
    font: normal normal bold 24px/32px Poppins;
    text-align: left;
    letter-spacing: 0px;
    color: color(dark-text);
  }

  .page-title {
    font: normal normal medium 36px/48px Poppins;
    text-align: left;
    letter-spacing: 0px;
    color: color(dark-text);
  }

  .section-title {
    font: normal normal 600 28px/48px Poppins;
    text-align: center;
    letter-spacing: 0px;
  }

.line {
    background: color(secondary);
    height: 6px;
}

.home-title {
  width: 60vw;
  margin: 0 auto;
  text-align: left;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 0px;
  color: #DC386D;
}

.error-message {
  color: color(secondary);
  text-transform: uppercase;
  text-align: center;
}