@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
header {
  width: 100%;
  height: 50px;
  background-color: #7A233C;
}

header .top-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-container h1 {
  font-size: 12px;
  padding-left: 12px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

header .top-container .topbar-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 100%;
}

header .top-container .topbar-button .dropdown {
  display: none;
  max-width: 134px;
  margin: 0;
  -webkit-box-shadow: 0px 10px 20px #00000033;
          box-shadow: 0px 10px 20px #00000033;
  background-color: #fff;
}

header .top-container .topbar-button .dropdown ul {
  list-style: none;
}

header .top-container .topbar-button .dropdown ul li {
  text-align: right;
  padding: 10px 20px;
  color: #001926;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0.56px;
}

header .top-container .topbar-button .dropdown ul::after {
  position: absolute;
  right: 0;
  top: -10px;
  width: 0;
  height: 0;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
}

header .top-container .topbar-button .dropdown.open {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
}

header .nav-container {
  width: 80%;
  margin: 0 auto;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container .logo__title {
  font-family: 'Pacifico', sans-serif;
  color: #7A233C;
  font-size: 65px;
  font-weight: normal;
  margin-left: 1rem;
}

header .nav-container .logo__image {
  height: 75px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

header .nav-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header .nav-container .navbar__item {
  color: #7A233C;
  text-transform: uppercase;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.96px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */