@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #7A233C;
}

header .top-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-container .topbar-title {
  font-size: 12px;
  padding-left: 12px;
  color: #FFFFFF;
  font-weight: normal;
  text-transform: uppercase;
}

header .top-container .topbar-title .topbar-icon {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .top-container .topbar-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 100%;
  cursor: pointer;
}

header .top-container .topbar-button .dropdown {
  display: none;
  max-width: 134px;
  margin: 0;
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-box-shadow: 0px 10px 20px #00000033;
          box-shadow: 0px 10px 20px #00000033;
  background-color: #FFFFFF;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header .top-container .topbar-button .dropdown ul {
  list-style: none;
}

header .top-container .topbar-button .dropdown ul li {
  text-align: right;
  padding: 10px 20px;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0.56px;
}

header .top-container .topbar-button .dropdown ul li a {
  text-decoration: none;
  color: #181818;
}

header .top-container .topbar-button .dropdown ul::after {
  position: absolute;
  right: 0;
  top: -10px;
  width: 0;
  height: 0;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #FFFFFF;
}

header .top-container .topbar-button .dropdown.open {
  display: block;
}

@media (max-width: 768px) {
  header .top-container .topbar-title {
    font-size: 8px;
  }
}

.hero-section {
  width: 100%;
  height: calc(100vh - 200px);
  background: url("background_hero.png") center no-repeat;
  background-size: cover;
  margin-top: 200px;
}

.hero-section .hero-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
  height: 100%;
      grid-template-areas: 'content null' 'search search';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 6fr 3fr;
      grid-template-rows: 6fr 3fr;
}

.hero-section .hero-container .content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 25px;
}

.hero-section .hero-container .content h1 {
  color: #FFFFFF;
  text-align: left;
  font: normal normal 600 46px/54px Poppins;
  letter-spacing: 0px;
  opacity: 1;
  margin: 25px 0;
}

.hero-section .hero-container .content p {
  text-align: left;
  font: normal normal normal 18px/30px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 15px 0;
  margin-right: 10px;
}

.hero-section .hero-container .content .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1376px) {
  .hero-section .hero-container .content h1 {
    font-size: 36px;
  }
  .hero-section .hero-container .content p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    background-position: left;
    margin-top: 150px;
    height: calc(100vh - 150px);
  }
  .hero-section .hero-container {
    width: 90%;
    margin: auto;
        grid-template-areas: 'content' 'search';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 5fr 3fr;
        grid-template-rows: 5fr 3fr;
  }
  .hero-section .hero-container .content {
    margin: 0;
  }
  .hero-section .hero-container .content h1 {
    font-size: 24px;
  }
  .hero-section .hero-container .content p {
    font-size: 14px;
  }
}

nav {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 9;
  background-color: #FFFFFF;
}

nav .nav-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

nav .nav-container .logo__title {
  font-family: 'Pacifico', sans-serif;
  color: #7A233C;
  font-size: 65px;
  font-weight: normal;
  margin-left: 1rem;
}

nav .nav-container .logo__image {
  height: 75px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

nav .nav-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

nav .nav-container .navbar__item {
  text-transform: uppercase;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.96px;
}

nav .nav-container .navbar__item a {
  text-decoration: none;
  color: #7A233C;
}

nav .nav-container .navbar__item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .nav-container .hamburger-icon {
  display: none;
  color: #7A233C;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    height: 100px;
  }
  nav .nav-container .logo__title {
    font-size: 32px;
  }
  nav .nav-container .logo__image {
    height: 50px;
  }
  nav .nav-container .navbar {
    display: none;
  }
  nav .nav-container .hamburger-icon {
    display: block;
  }
}

.arrow-btn {
  width: 70px;
  height: 70px;
  border: 2px solid #FFFFFF;
  position: relative;
  margin-right: 10px;
  border-radius: 5px;
}

.arrow-btn .icon {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
}

@media (max-width: 1376px) {
  .arrow-btn {
    width: 50px;
    height: 50px;
  }
}

.search-wrapper {
  max-width: 1140px;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: search;
  margin: 0 auto;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search-wrapper .search {
  width: 100%;
  height: 150px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 30px #0000001F;
          box-shadow: 0px 20px 30px #0000001F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrapper .search .search-container {
  width: 90%;
  height: 70px;
  position: relative;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.search-wrapper .search .search-container .search-input {
  background: transparent;
  border: none;
  width: calc(100% - 70px);
  font-size: 16px;
  padding: 25px;
  font-style: italic;
  font-weight: medium;
  text-align: left;
  font: italic normal medium 16px/25px Poppins;
  letter-spacing: 0px;
  color: #566C7D;
}

.search-wrapper .search .search-container .search-input:focus {
  outline: none;
}

.search-wrapper .search .search-container .search-btn {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background: #DC386D 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrapper .search .search-container .search-btn:focus {
  outline: none;
}

.search-wrapper .search .search-container .search-btn .search-icon {
  color: #fff;
  font-size: 32px;
}

.search-wrapper .suggestion {
  width: 100%;
  height: auto;
  max-height: 520px;
  overflow: auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 20px #00000029;
          box-shadow: 0px 20px 20px #00000029;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.search-wrapper .suggestion ul {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding-bottom: 50px;
}

.search-wrapper .suggestion ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 25px;
  margin-bottom: 10px;
  height: 120px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 8px 20px #00000014;
          box-shadow: 0px 8px 20px #00000014;
}

.search-wrapper .suggestion ul li a {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-wrapper .suggestion ul li a img {
  width: auto;
  height: 70px;
}

.search-wrapper .suggestion ul li a .product-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin: 0 5px;
}

.search-wrapper .suggestion ul li a .price-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-wrapper .suggestion ul li a .price-wrapper .price {
  text-align: left;
  text-decoration: line-through;
  font-size: 20px;
  letter-spacing: 0px;
  color: #181818;
}

.search-wrapper .suggestion ul li a .price-wrapper .disconted-price {
  text-align: left;
  font-size: 20px;
  letter-spacing: 0px;
  color: #DC386D;
}

.search-wrapper .suggestion ul li .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 280px;
  height: 70px;
}

@media (max-width: 768px) {
  .search-wrapper {
    width: calc(100% - 20px);
  }
  .search-wrapper .search {
    height: 100px;
  }
  .search-wrapper .search__container {
    height: 50px;
  }
  .search-wrapper .search__input {
    font-size: 12px;
    padding: 18px 0;
    padding-left: 10px;
  }
  .search-wrapper .search__btn {
    width: 50px;
    height: 50px;
  }
  .search-wrapper .search__icon {
    font-size: 24px;
  }
  .search-wrapper .suggestion {
    top: 100px;
  }
  .search-wrapper .suggestion ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    padding: 15px 5px;
  }
  .search-wrapper .suggestion ul li a img {
    max-width: 100px;
    height: auto;
  }
  .search-wrapper .suggestion ul li a .product-title {
    font-size: 8px;
  }
  .search-wrapper .suggestion ul li a .price-wrapper .price {
    font-size: 8px;
  }
  .search-wrapper .suggestion ul li a .price-wrapper .disconted-price {
    font-size: 8px;
  }
  .search-wrapper .suggestion ul li .btn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 50px;
    font-size: 8px;
  }
}

footer {
  width: 100%;
  height: 120px;
}

footer .footer-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .footer-container ul li {
  padding: 0 10px;
  text-transform: uppercase;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 0.42px;
  color: #181818;
}

footer .footer-container .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .copyright h1 {
  text-align: right;
  font: normal normal normal 14px/28px Poppins;
  letter-spacing: 0px;
  color: #181818;
  margin-right: 20px;
}

footer .footer-container .copyright img {
  width: 28px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.gradient-line {
  height: 6px;
  width: 100%;
  background: transparent -webkit-gradient(linear, left top, right top, from(#DC386D), to(#FFB3B5)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #DC386D 0%, #FFB3B5 100%) 0% 0% no-repeat padding-box;
}

@media (max-width: 768px) {
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container img {
    max-width: 80%;
    margin: 25px 0;
  }
  footer .footer-container .copyright h1 {
    font-size: 12px;
  }
  footer .footer-container .copyright img {
    width: 20px;
  }
}

@media (max-width: 425px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ul li {
    margin: 10px 0;
  }
}

.section-title {
  margin: 30px 0;
}

.logo-container {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .logo-container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-container img {
    margin: 10px 0;
  }
}

.product-card {
  width: 360px;
  height: 466px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 30px #00000033;
          box-shadow: 0px 20px 30px #00000033;
  border-radius: 5px;
  position: relative;
  padding-top: 0;
  margin: 20px 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.product-card a {
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 10%;
}

.product-card a .product-image {
  width: auto;
  height: 100px;
  max-width: 280px;
  margin-top: 55px;
}

.product-card a .new-tag {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #181818;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.product-card a .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.product-card a .prices .discont {
  text-align: left;
  font: normal normal bold 20px/32px Poppins;
  letter-spacing: 0px;
  color: #DC386D;
  margin-right: 20px;
  padding-right: 10px;
}

.product-card a .prices .full {
  text-align: left;
  text-decoration: line-through;
  font: normal normal medium 20px/32px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-card .btn {
  width: 80%;
  height: 70px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 5;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product-card:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

@media (max-width: 768px) {
  .product-card {
    width: 280px;
    height: 400px;
    margin: 20px 0;
  }
  .product-card a .product-image {
    max-width: 100%;
  }
  .product-card a .product-title {
    font-size: 18px;
  }
  .product-card a .prices .full {
    font-size: 16px;
  }
  .product-card a .prices .discont {
    font-size: 16px;
  }
  .product-card .btn {
    bottom: 20px;
  }
}

.recomended-section {
  width: 100%;
  background: linear-gradient(135deg, rgba(122, 35, 60, 0.9) 0%, rgba(122, 35, 60, 0.9) 100%), url("background.png") center no-repeat;
  background-size: cover;
}

.recomended-section .recomended-container {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recomended-section .recomended-container .section-title {
  color: #FFFFFF;
  margin-top: 70px;
  margin-bottom: 30px;
}

.recomended-section .recomended-container .products-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recomended-section .recomended-container .recomended-btn {
  margin: 50px 0;
  width: 280px;
  height: 70px;
  background: #DC386D 0% 0% no-repeat padding-box;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  padding: 25px 0;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .recomended-section .recomended-container {
    width: 90%;
  }
  .recomended-section .recomended-container .recomended-title {
    font-size: 18px;
  }
  .recomended-section .recomended-container .products-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.gyik-section {
  margin-top: 200px;
}

.gyik-section .gyik-container {
  width: 60%;
  margin: 0 auto;
}

.gyik-section .gyik-container .page-title {
  margin: 15px 0;
}

.gyik-section .gyik-container .category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin-bottom: 50px;
}

.gyik-section .gyik-container .category-container .category-title {
  width: 100%;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0px;
  color: #181818;
  margin: 25px 0;
}

.gyik-section .gyik-container .category-container .question-container {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}

.gyik-section .gyik-container .category-container .question-container .title-bar {
  height: 80px;
  position: relative;
  background: #F5F5F5;
}

.gyik-section .gyik-container .category-container .question-container .title-bar .title {
  margin: 0;
  text-align: left;
  padding: 25px 0;
  margin-left: 20px;
  font-size: 20px;
  color: #181818;
}

.gyik-section .gyik-container .category-container .question-container .title-bar .gyik-icon {
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
}

.gyik-section .gyik-container .category-container .question-container .title-bar.open {
  background: transparent -webkit-gradient(linear, left top, right top, from(#DC386D), to(#FFB3B5));
  background: transparent linear-gradient(90deg, #DC386D 0%, #FFB3B5 100%);
}

.gyik-section .gyik-container .category-container .question-container .title-bar.open .title {
  margin: 0;
  padding: 25px 0;
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.gyik-section .gyik-container .category-container .question-container .title-bar.open .gyik-icon {
  color: #FFFFFF;
}

.gyik-section .gyik-container .category-container .question-container .dropdown {
  opacity: 0;
  height: 0px;
  width: 100%;
  display: none;
  background-color: #FFFFFF;
  padding: 25px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 20px #7A233C;
          box-shadow: 0px 3px 20px #7A233C;
  border-radius: 5px;
  -webkit-transition: height 3s;
  transition: height 3s;
}

.gyik-section .gyik-container .category-container .question-container .dropdown p {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.gyik-section .gyik-container .category-container .question-container .dropdown.open {
  opacity: 1;
  height: 180px;
  display: block;
}

@media (max-width: 768px) {
  .gyik-section .gyik-container {
    width: 90%;
  }
  .gyik-section .gyik-container .gyik-title {
    font-size: 18px;
  }
  .gyik-section .gyik-container .category-container {
    margin-bottom: 10px;
  }
  .gyik-section .gyik-container .category-container .category-title {
    margin: 10px 0;
    font-size: 14px;
  }
  .gyik-section .gyik-container .category-container .question-container {
    width: 280px;
  }
  .gyik-section .gyik-container .category-container .question-container .title-bar {
    height: 50px;
  }
  .gyik-section .gyik-container .category-container .question-container .title-bar .title {
    font-size: 12px;
  }
  .gyik-section .gyik-container .category-container .question-container .title-bar .gyik-icon {
    right: 10px;
  }
  .gyik-section .gyik-container .category-container .question-container .title-bar.open .title {
    font-size: 10px;
  }
  .gyik-section .gyik-container .category-container .question-container .dropdown.open {
    height: auto;
  }
  .gyik-section .gyik-container .category-container .question-container .dropdown.open p {
    font-size: 12px;
  }
}

.input-container {
  border-bottom: 2px solid #F5F5F5;
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.input-container .input-field {
  font-size: 15px;
  color: #181818;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.input-container textarea {
  font-size: 15px;
  color: #181818;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
  resize: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-container .textarea-span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 0;
  text-align: left;
  font-weight: bolder;
  font: normal normal medium 18px/48px Poppins;
  letter-spacing: 0px;
  color: #181818;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-container .input-span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 0;
  text-align: left;
  font-weight: bolder;
  font: normal normal medium 18px/48px Poppins;
  letter-spacing: 0px;
  color: #181818;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-container span::after {
  content: '';
  position: absolute;
  width: 0%;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: #DC386D;
  -webkit-transition: .5s;
  transition: .5s;
}

.textbox {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.input-container.focus .input-span::before {
  top: -5px;
}

.input-container.focus textarea {
  height: 100px;
}

.input-container.focus .textarea-span::before {
  top: -15px;
}

.input-container.focus span::after {
  width: 100%;
}

@media (max-width: 768px) {
  .textbox {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-section {
  margin-top: 200px;
  height: 700px;
}

.contact-section .contact-container {
  width: 60%;
  margin: 0 auto;
}

.contact-section .contact-container .page-title {
  margin: 15px 0;
}

.contact-section .contact-container p {
  margin: 20px 0;
  text-align: left;
  font: normal normal medium 16px/25px Poppins;
  letter-spacing: 0px;
  color: #001926;
  font-weight: bold;
}

.contact-section .contact-container .inputs {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr auto 1fr;
      grid-template-rows: 1fr 1fr auto 1fr;
  grid-column-gap: 25px;
  margin-bottom: 50px;
}

.contact-section .contact-container .inputs .btn {
  width: 100%;
  height: 70px;
  margin: 25px 0;
}

.contact-section .contact-container .inputs a {
  font-weight: bold;
  color: #181818;
}

.contact-section .contact-container .inputs .checkbox {
  background: #DC386D;
}

@media (max-width: 768px) {
  .contact-section {
    height: auto;
  }
  .contact-section .contact-container {
    width: 90%;
  }
  .contact-section .contact-container .inputs {
    width: 100%;
    grid-column-gap: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.login-card {
  height: 645px;
}

.login-card .error-message {
  color: #DC386D;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .login-card {
    padding: 70px 40px;
    max-width: 300px;
  }
  .login-card .login-card-title {
    font-size: 18px;
  }
}

.registration-card {
  height: 760px;
}

.registration-card .checkbox-bar {
  margin: 25px 0;
}

@media (max-width: 768px) {
  .registration-card {
    max-width: 300px;
    padding: 70px 40px;
  }
  .registration-card .registration-card-title {
    font-size: 18px;
  }
  .registration-card .btn {
    margin: 10px 0;
  }
  .registration-card .text {
    margin: 10px 0;
  }
}

.authentication {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(23, 23, 23, 0.95)), to(rgba(122, 35, 60, 0.95))) 0% 0% no-repeat padding-box;
  background: linear-gradient(360deg, rgba(23, 23, 23, 0.95) 0%, rgba(122, 35, 60, 0.95) 100%) 0% 0% no-repeat padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.authentication .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.authentication .close-btn:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.authentication .title {
  text-align: left;
  font: normal normal 600 28px/48px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.authentication .login-card form .btn {
  width: 100%;
  height: 70px;
}

.authentication .login-card form .highlight-text {
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #DC386D;
  margin: 20px 0;
  margin-left: 2px;
  font-weight: bold;
}

.authentication .login-card form .text {
  margin: 20px 0;
  margin-left: 5px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.authentication .login-card,
.authentication .registration-card {
  width: 510px;
  padding: 70px 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px #0000004D;
          box-shadow: 0px 20px 40px #0000004D;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.paginator-container {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator-container .pager {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background: #DC386D 0% 0% no-repeat padding-box;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator-container .pager .pager-icon {
  color: #fff;
  font-size: 32px;
}

.paginator-container .pager:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.paginator-container .pager.disabled {
  background: #d5255e;
  cursor: context-menu;
}

.paginator-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.paginator-container ul .pagination-item {
  padding: 20px;
  text-align: center;
  font: normal normal medium 14px/21px Poppins;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.paginator-container ul .pagination-item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.paginator-container ul .pagination-item.active {
  text-align: center;
  font: normal normal medium 14px/21px Poppins;
  letter-spacing: 2.8px;
  color: #DC386D;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .paginator-container {
    height: auto;
    margin: 50px 0;
  }
  .paginator-container .pager {
    width: 50px;
    height: 50px;
  }
  .paginator-container ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .paginator-container ul .pagination-item {
    font-size: 14px;
    padding: 10px;
  }
}

.white-header {
  height: 200px;
  background: #FFFFFF;
  position: relative;
  margin-top: 200px;
  padding: 0 10px;
}

.white-header .products-title {
  max-width: 1140px;
  text-align: left;
  font: normal normal bold 36px/48px Poppins;
  letter-spacing: 0px;
  color: #460B1C;
  margin: 20px auto;
}

.white-header .search-wrapper {
  position: absolute;
  bottom: -75px;
  left: 50%;
  z-index: 4;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.products-section {
  background: linear-gradient(135deg, rgba(122, 35, 60, 0.9) 0%, rgba(122, 35, 60, 0.9) 100%), url("background.png") center no-repeat;
  background-size: cover;
  margin-top: 0;
}

.products-section .products-container {
  margin: 0 auto;
  padding-top: 150px;
  max-width: 1140px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-section .products-container .products-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-section .products-container .pagination-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .white-header .search-wrapper {
    bottom: -50px;
  }
  .products-section .products-container {
    width: 95%;
  }
  .products-section .products-container .products-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.product-section {
  width: 100%;
  height: 1100px;
  margin-top: 200px;
}

.product-section .route {
  text-align: left;
}

.product-section .product-container {
  width: 60%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'img info' 'desc desc';
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.product-section .product-container .image-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  width: 540px;
  height: 540px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 40px #0000001A;
          box-shadow: 0px 20px 40px #0000001A;
  border-radius: 5px;
}

.product-section .product-container .image-wrapper .pager {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
}

.product-section .product-container .info-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
  position: relative;
}

.product-section .product-container .info-wrapper .product-title {
  margin-top: 60px;
  text-align: left;
  font: normal normal 600 46px/54px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-section .product-container .info-wrapper .small-desc {
  text-align: left;
  font: normal normal normal 18px/30px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-section .product-container .info-wrapper .new-tag {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  background: #181818;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.product-section .product-container .info-wrapper .btn {
  width: 280px;
  height: 70px;
}

.product-section .product-container .info-wrapper .basket-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.product-section .product-container .info-wrapper .basket-count input {
  width: 70px;
  height: 70px;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.product-section .product-container .info-wrapper .basket-count span {
  margin-left: 10px;
  text-align: right;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-section .product-container .info-wrapper .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.product-section .product-container .info-wrapper .prices .discont {
  text-align: left;
  font: normal normal bold 20px/32px Poppins;
  letter-spacing: 0px;
  color: #DC386D;
  margin-right: 20px;
}

.product-section .product-container .info-wrapper .prices .full {
  text-align: left;
  text-decoration: line-through;
  font: normal normal medium 20px/32px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-section .product-container .text-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: desc;
}

.product-section .product-container .text-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.product-section .product-container .text-wrapper ul li {
  width: 240px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DC386D 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 60px #0000001F;
          box-shadow: 0px 20px 60px #0000001F;
  text-align: center;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}

.product-section .product-container .text-wrapper ul li.active {
  background: #FFFFFF;
  color: #DC386D;
}

.product-section .product-container .text-wrapper .description-wrapper {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 60px #0000001F;
          box-shadow: 0px 20px 60px #0000001F;
  padding: 40px;
}

.product-section .product-container .text-wrapper p {
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0.48px;
  color: #181818;
}

@media (max-width: 768px) {
  .product-section {
    height: auto;
  }
  .product-section .product-container {
    width: 90%;
    height: 100%;
        grid-template-areas: 'img' 'info' 'desc';
    -ms-grid-rows: auto  1fr auto;
        grid-template-rows: auto  1fr auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .product-section .product-container .image-wrapper {
    width: 100%;
  }
  .product-section .product-container .text-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-section .product-container .text-wrapper ul li {
    width: 100px;
    height: 50px;
    font-size: 12px;
  }
}

.cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 100%;
}

.cart .topbar-btn {
  font-size: 12px;
  padding-left: 12px;
  color: #FFFFFF;
  font-weight: normal;
  text-transform: uppercase;
}

.cart .cart-container {
  display: none;
  margin: 0;
  -webkit-box-shadow: 0px 10px 20px #00000033;
          box-shadow: 0px 10px 20px #00000033;
  background-color: #FFFFFF;
}

.cart .cart-container ul {
  list-style: none;
}

.cart .cart-container ul .cart-item {
  text-align: right;
  padding: 10px 20px;
  color: #181818;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0.56px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 10px 20px #00000033;
          box-shadow: 0px 10px 20px #00000033;
  margin: 25px;
}

.cart .cart-container ul .cart-item .item-img {
  height: 70px;
}

.cart .cart-container ul .cart-item .item-name {
  width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #181818;
}

.cart .cart-container ul .cart-item .item-counter {
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 0 5px;
  padding: 15px 0;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
}

.cart .cart-container ul .cart-item .item-counter:focus {
  outline: none;
}

.cart .cart-container ul .cart-item .item-btn {
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 0 7px;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
}

.cart .cart-container ul .cart-item .item-btn:focus {
  outline: none;
}

.cart .cart-container ul .cart-item .item-icon {
  width: 25px;
  height: 25px;
  color: #DC386D;
}

.cart .cart-container ul::after {
  position: absolute;
  right: 0;
  top: -10px;
  width: 0;
  height: 0;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #FFFFFF;
}

.cart .cart-container .total-price {
  margin: 25px;
  padding: 10px 0;
  padding-left: 10px;
  -webkit-box-shadow: 0px 10px 20px #00000033;
          box-shadow: 0px 10px 20px #00000033;
}

.cart .cart-container.open {
  display: block;
  padding: 0;
  position: absolute;
  top: 50px;
  right: 0;
}

@media (max-width: 768px) {
  .cart {
    position: static;
  }
  .cart .topbar-btn {
    font-size: 8px;
  }
  .cart .cart-container {
    width: 100vw;
    left: 0;
  }
  .cart .cart-container ul::after {
    display: none;
  }
  .cart .cart-container ul {
    width: 100%;
  }
  .cart .cart-container ul .cart-item {
    height: 70px;
    padding: 10px;
    margin: 15px;
  }
  .cart .cart-container ul .cart-item .item-img {
    height: 30px;
  }
  .cart .cart-container ul .cart-item .item-name {
    font-size: 8px;
  }
  .cart .cart-container ul .cart-item .item-counter {
    width: 50px;
    height: 50px;
  }
  .cart .cart-container ul .cart-item .item-btn {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .cart .cart-container ul .cart-item .item-icon {
    height: 20px;
    width: 20px;
  }
  .cart .cart-container .total-price {
    margin: 15px;
  }
}

.delivery-data {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: addresses;
  margin: 25px 0;
  background: transparent 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 60px #0000001F;
          box-shadow: 0px 20px 60px #0000001F;
}

.delivery-data .btn {
  width: 200px;
  height: 50px;
  margin: 20px;
}

.settings-container {
  width: 95%;
  margin: 20px auto;
  padding: 20px;
  background: transparent;
  -webkit-box-shadow: 0px 20px 60px #0000001F;
          box-shadow: 0px 20px 60px #0000001F;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.settings-container h1 {
  text-align: left;
  margin: 5px 0;
}

.settings-container form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.settings-container form input {
  width: 100%;
}

.settings-container .btn-wrapper {
  margin: 0 auto;
}

.settings-container .input-container {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .settings-container .btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .settings-container .btn-wrapper .btn {
    margin: 10px 0;
  }
}

.address-container {
  width: 95%;
  min-height: 200px;
  margin: 20px auto;
  background: #F5F5F5;
  padding: 25px;
  position: relative;
}

.address-container .delete-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.address-container .person-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.address-container .person-data__icon {
  font-size: 32px;
  color: #DC386D;
}

.address-container .person-data__title {
  font-size: 18px;
  margin-left: 5px;
}

.address-container .address-data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.address-container .address-data__icon {
  font-size: 32px;
  color: #DC386D;
}

.address-container .address-data__wrapper h1 {
  margin: 0 5px;
  font-size: 18px;
  text-align: left;
}

.profile-settings {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: profile;
  max-height: 400px;
  margin: 25px 0;
  padding: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 60px #0000001F;
          box-shadow: 0px 20px 60px #0000001F;
  position: relative;
}

.profile-settings form {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-settings form .btn {
  width: calc(100% - 40px);
  height: 50px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.profile-settings form .input-container {
  margin: 15px 0;
}

.profile-section {
  margin-top: 200px;
  width: 100%;
}

.profile-section .page-title {
  width: 60%;
  margin: auto;
}

.profile-section .line {
  width: 60%;
  margin: 0 auto;
}

.profile-section .profile-container {
  width: 60%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr;
      grid-template-columns: 4fr 8fr;
      grid-template-areas: 'profile addresses';
  grid-column-gap: 25px;
}

.profile-section .profile-container .profile-data {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: profile;
  margin: 25px 0;
  max-height: 400px;
  padding: 20px;
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 60px #0000001F;
          box-shadow: 0px 20px 60px #0000001F;
}

.profile-section .profile-container .profile-data .settings {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
}

.profile-section .profile-container .profile-data .profile-name {
  font: normal normal bold 24px/32px Poppins;
  letter-spacing: 0px;
  color: #181818;
  margin-bottom: 20px;
}

.profile-section .profile-container .profile-data .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.profile-section .profile-container .profile-data .text-wrapper .profile-tel {
  font: normal normal medium 18px/32px Poppins;
  letter-spacing: 0px;
  text-align: left;
  color: #181818;
  margin: 0;
}

.profile-section .profile-container .profile-data .text-wrapper .profile-icon {
  margin-right: 5px;
  color: #DC386D;
}

.profile-section .profile-container .profile-data .text-wrapper svg {
  font-size: 25px;
}

.profile-section .profile-container .profile-data .profile-order {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px;
  background: #DC386D;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .profile-section .page-title,
  .profile-section .line {
    width: 90%;
  }
  .profile-section .profile-container {
    width: 90%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 450px auto;
        grid-template-rows: 450px auto;
        grid-template-areas: 'profile' 'addresses';
  }
}

.sidebar {
  height: calc(100vh - 50px);
  width: 40%;
  position: fixed;
  right: 0;
  z-index: 10;
  top: 50px;
  background: #7A233C;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  border-top: 1px solid #FFFFFF;
}

.sidebar ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar ul li {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
}

.sidebar ul li a {
  font-size: 1.2rem;
  color: #FFFFFF;
  text-decoration: none;
}

.sidebar ul li:hover, .sidebar ul li:active {
  cursor: pointer;
}

.sidebar.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebar__icon {
  position: absolute;
  font-size: 32px;
  color: #FFFFFF;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

/* Szélesség */
::-webkit-scrollbar {
  width: 5px;
}

/*  Mező */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Csúszka */
::-webkit-scrollbar-thumb {
  background: #DC386D;
}

/* Csúszka ha rajta a kurzor */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn {
  background: #DC386D;
  color: #FFFFFF;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn:focus, .btn:active {
  outline: none;
}

.btn:hover {
  background: #e04e7d;
}

.product-title {
  font: normal normal bold 24px/32px Poppins;
  text-align: left;
  letter-spacing: 0px;
  color: #181818;
}

.page-title {
  font: normal normal medium 36px/48px Poppins;
  text-align: left;
  letter-spacing: 0px;
  color: #181818;
}

.section-title {
  font: normal normal 600 28px/48px Poppins;
  text-align: center;
  letter-spacing: 0px;
}

.line {
  background: #DC386D;
  height: 6px;
}
/*# sourceMappingURL=style.css.map */