@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #7A233C;
}

header .top-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-container h1 {
  font-size: 12px;
  padding-left: 12px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

header .top-container .topbar-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 100%;
}

header .top-container .topbar-button .dropdown {
  display: none;
  max-width: 134px;
  margin: 0;
  -webkit-box-shadow: 0px 10px 20px #00000033;
          box-shadow: 0px 10px 20px #00000033;
  background-color: #fff;
}

header .top-container .topbar-button .dropdown ul {
  list-style: none;
}

header .top-container .topbar-button .dropdown ul li {
  text-align: right;
  padding: 10px 20px;
  color: #001926;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0.56px;
}

header .top-container .topbar-button .dropdown ul::after {
  position: absolute;
  right: 0;
  top: -10px;
  width: 0;
  height: 0;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
}

header .top-container .topbar-button .dropdown.open {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
}

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-section .background-container {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -200px;
  left: 0;
  clip: rect(200px, 100vw, 100vh, 0px);
}

.hero-section .hero-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
  height: calc(100vh - 200px);
      grid-template-areas: 'content null' 'search search';
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 6fr 3fr;
      grid-template-rows: 6fr 3fr;
}

.hero-section .hero-container .content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 100px;
}

.hero-section .hero-container .content h1 {
  color: #fff;
  text-align: left;
  font: normal normal 600 46px/54px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 25px 0;
}

.hero-section .hero-container .content p {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 18px/30px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 15px 0;
  margin-right: 10px;
}

.hero-section .hero-container .content .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 9;
  background-color: #fff;
}

nav .nav-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .logo__title {
  font-family: 'Pacifico', sans-serif;
  color: #7A233C;
  font-size: 65px;
  font-weight: normal;
  margin-left: 1rem;
}

nav .nav-container .logo__image {
  height: 75px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

nav .nav-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

nav .nav-container .navbar__item {
  text-transform: uppercase;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.96px;
}

nav .nav-container .navbar__item a {
  text-decoration: none;
  color: #7A233C;
}

.btn {
  width: 70px;
  height: 70px;
  border: 2px solid #FFFFFF;
  position: relative;
  margin-right: 10px;
  border-radius: 5px;
}

.btn .icon {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
}

.search-wrapper {
  width: 1146px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: search;
  margin: auto;
  position: relative;
}

.search-wrapper .search {
  width: 100%;
  height: 150px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 30px #0000001F;
          box-shadow: 0px 20px 30px #0000001F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrapper .search__container {
  width: 1020px;
  height: 70px;
  position: relative;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.search-wrapper .search__input {
  background: transparent;
  border: none;
  width: calc(100% - 70px);
  font-size: 16px;
  padding: 25px;
  font-style: italic;
  font-weight: medium;
  text-align: left;
  font: italic normal medium 16px/25px Poppins;
  letter-spacing: 0px;
  color: #566C7D;
}

.search-wrapper .search__input:focus {
  outline: none;
}

.search-wrapper .search__btn {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background: #DC386D 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
}

.search-wrapper .search__btn:focus {
  outline: none;
}

.search-wrapper .search__icon {
  color: #fff;
  font-size: 32px;
}

.search-wrapper .suggestion {
  width: 1146px;
  height: auto;
  max-height: 520px;
  overflow: auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 20px #00000029;
          box-shadow: 0px 20px 20px #00000029;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 5;
}

.search-wrapper .suggestion ul {
  width: 1020px;
  margin: 0 auto;
  list-style: none;
}

.search-wrapper .suggestion ul li {
  margin-bottom: 10px;
  height: 120px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 8px 20px #00000014;
          box-shadow: 0px 8px 20px #00000014;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
}

.search-wrapper .suggestion ul li img {
  width: auto;
  height: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-wrapper .suggestion ul li h1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.search-wrapper .suggestion ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search-wrapper .suggestion ul li .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 280px;
  height: 70px;
  background: #DC386D;
  border-radius: 6px;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
}

footer {
  width: 100%;
  height: 120px;
}

footer .footer-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .footer-container ul li {
  padding: 0 20px;
  text-transform: uppercase;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 0.42px;
  color: #001926;
}

footer .footer-container .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .copyright h1 {
  text-align: right;
  font: normal normal normal 14px/28px Poppins;
  letter-spacing: 0px;
  color: #001926;
  margin-right: 20px;
}

footer .footer-container .copyright img {
  width: 28px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.gradient-line {
  height: 6px;
  width: 100%;
  background: transparent -webkit-gradient(linear, left top, right top, from(#DC386D), to(#FFB3B5)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #DC386D 0%, #FFB3B5 100%) 0% 0% no-repeat padding-box;
}

h1 {
  text-align: center;
  font: normal normal 600 28px/48px Poppins;
  letter-spacing: 0px;
  color: #001926;
  margin: 30px 0;
}

.logo-container {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card {
  width: 360px;
  height: 466px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 30px #00000033;
          box-shadow: 0px 20px 30px #00000033;
  border-radius: 5px;
  position: relative;
  padding: 30px;
  padding-top: 0;
  margin: 10px;
}

.product-card .product-image {
  width: 222px;
}

.product-card .new-tag {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #181818;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.product-card .btn {
  width: 100%;
  height: 70px;
  background: #DC386D;
  border-radius: 6px;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.product-card .product-title {
  color: var(--unnamed-color-181818);
  text-align: left;
  font: normal normal bold 24px/32px Poppins;
  letter-spacing: 0px;
  color: #181818;
  margin-bottom: 10px;
  font-weight: bold;
}

.product-card .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.product-card .prices .discont {
  color: var(--unnamed-color-dc386d);
  text-align: left;
  font: normal normal bold 20px/32px Poppins;
  letter-spacing: 0px;
  color: #DC386D;
  margin-right: 20px;
}

.product-card .prices .full {
  color: var(--unnamed-color-181818);
  text-align: left;
  text-decoration: line-through;
  font: normal normal medium 20px/32px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.recomended-section {
  width: 100%;
  margin-top: -200px;
  background: url("background.png") center no-repeat;
}

.recomended-section .recomended-container {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recomended-section .recomended-container .recomended-title {
  text-align: center;
  font: normal normal 600 28px/48px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 70px;
  margin-bottom: 30px;
}

.recomended-section .recomended-container .products-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recomended-section .recomended-container .recomended-btn {
  margin: 50px 0;
  width: 280px;
  height: 70px;
  background: #DC386D 0% 0% no-repeat padding-box;
  border-radius: 6px;
  text-align: center;
  padding: 25px 0;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.gyik-section {
  margin-top: 200px;
}

.gyik-section .gyik-container {
  width: 1000px;
  margin: 0 auto;
}

.gyik-section .gyik-container .gyik-title {
  width: 100%;
  text-align: left;
  font: normal normal medium 36px/48px Poppins;
  letter-spacing: 0px;
  color: #001926;
  margin: 15px 0;
}

.gyik-section .gyik-container .gradient-line {
  background: #DC386D 0% 0% no-repeat padding-box;
}

.category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.category-container .category-title {
  width: 100%;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0px;
  color: #001926;
  margin: 25px 0;
}

.category-container .question-container {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-container .question-container .title-bar {
  width: 100%;
  height: 80px;
  position: relative;
  background: #F5F5F5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-container .question-container .title-bar h1 {
  text-align: left;
  margin: 16px 0;
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0px;
  color: #001926;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-container .question-container .title-bar .gyik-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 30px;
}

.category-container .question-container .title-bar.open {
  background: transparent -webkit-gradient(linear, left top, right top, from(#DC386D), to(#FFB3B5));
  background: transparent linear-gradient(90deg, #DC386D 0%, #FFB3B5 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-container .question-container .title-bar.open h1 {
  text-align: left;
  font-size: 20px;
  margin: 16px 0;
  margin-left: 20px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.category-container .question-container .title-bar.open .gyik-icon {
  color: #fff;
}

.category-container .question-container .dropdown {
  height: 0px;
  width: 1000px;
  display: none;
  background-color: #fff;
  -webkit-transition: height 0.5s all ease-in-out;
  transition: height 0.5s all ease-in-out;
  padding: 25px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 20px #DC386D69;
          box-shadow: 0px 3px 20px #DC386D69;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-container .question-container .dropdown p {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #001926;
}

.category-container .question-container .dropdown.open {
  height: 180px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-container {
  border-bottom: 2px solid #adadad;
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.input-container input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.input-container textarea {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
  resize: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-container .textarea-span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 0;
  text-align: left;
  font-weight: bolder;
  font: normal normal medium 18px/48px Poppins;
  letter-spacing: 0px;
  color: #181818;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-container .input-span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 0;
  text-align: left;
  font-weight: bolder;
  font: normal normal medium 18px/48px Poppins;
  letter-spacing: 0px;
  color: #181818;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-container span::after {
  content: '';
  position: absolute;
  width: 0%;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: #DC386D;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-container.focus .input-span::before {
  top: -5px;
}

.input-container.focus textarea {
  height: 100px;
}

.input-container.focus .textarea-span::before {
  top: -15px;
}

.input-container.focus span::after {
  width: 100%;
}

section {
  margin-top: 200px;
}

section .contact-container {
  width: 1000px;
  margin: 0 auto;
}

section .contact-container .contact-title {
  width: 100%;
  text-align: left;
  font: normal normal medium 36px/48px Poppins;
  letter-spacing: 0px;
  color: #001926;
  margin: 15px 0;
}

section .contact-container .line {
  background: #DC386D;
  height: 6px;
}

section .contact-container p {
  margin: 20px 0;
  text-align: left;
  font: normal normal medium 16px/25px Poppins;
  letter-spacing: 0px;
  color: #001926;
  font-weight: bold;
}

section .contact-container .inputs {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr auto 1fr;
      grid-template-rows: 1fr 1fr auto 1fr;
  grid-column-gap: 25px;
  margin-bottom: 50px;
}

section .contact-container .inputs .btn {
  background: var(--unnamed-color-dc386d) 0% 0% no-repeat padding-box;
  border: 6px solid var(--unnamed-color-dc386d);
  background: #DC386D 0% 0% no-repeat padding-box;
  border: 6px solid #DC386D;
  border-radius: 6px;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 14px/21px Poppins;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
}

.login-card {
  width: 510px;
  height: 645px;
  padding: 70px 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px #0000004D;
          box-shadow: 0px 20px 40px #0000004D;
  border-radius: 5px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.login-card__title {
  text-align: left;
  font: normal normal 600 28px/48px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.login-card .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

.login-card .link-text {
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #DC386D;
  margin: 20px 0;
  font-weight: bold;
}

.login-card .btn {
  width: 100%;
  background: #DC386D;
  border-radius: 6px;
  text-align: center;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 20px 0;
}

.login-card .btn:focus {
  outline: none;
}

.login-card .text {
  margin: 20px 0;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #001926;
}

.registration-card {
  width: 510px;
  height: 760px;
  padding: 70px 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px #0000004D;
          box-shadow: 0px 20px 40px #0000004D;
  border-radius: 5px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.registration-card__title {
  text-align: left;
  font: normal normal 600 28px/48px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.registration-card .checkbox-bar {
  margin: 25px 0;
}

.registration-card .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

.registration-card .link-text {
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #DC386D;
  margin: 20px 0;
  font-weight: bold;
}

.registration-card .btn {
  width: 100%;
  background: #DC386D;
  border-radius: 6px;
  text-align: center;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 20px 0;
}

.registration-card .btn:focus {
  outline: none;
}

.registration-card .text {
  margin: 20px 0;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #001926;
}

.authentication {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(23, 23, 23, 0.95)), to(rgba(122, 35, 60, 0.95))) 0% 0% no-repeat padding-box;
  background: linear-gradient(360deg, rgba(23, 23, 23, 0.95) 0%, rgba(122, 35, 60, 0.95) 100%) 0% 0% no-repeat padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paginator-container {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator-container .pager {
  width: 70px;
  height: 70px;
  border: 6px solid var(--unnamed-color-dc386d);
  background: #DC386D 0% 0% no-repeat padding-box;
  border: 6px solid #DC386D;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator-container .pager .pager-icon {
  color: #fff;
  font-size: 32px;
}

.paginator-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.paginator-container ul .pagination-item {
  padding: 20px;
}

.white-header {
  height: 150px;
  background: #fff;
  position: relative;
  margin-top: 200px;
}

.white-header .products-title {
  text-align: left;
  font: normal normal bold 36px/48px Poppins;
  letter-spacing: 0px;
  color: #460B1C;
  margin-left: 15%;
}

.white-header .search-wrapper {
  position: absolute;
  bottom: -75px;
  left: 50%;
  z-index: 4;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.products-section {
  background: url("background.png") center no-repeat;
  background-size: cover;
  margin-top: 0;
}

.products-section .products-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 150px;
}

.products-section .products-container .products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-section .products-container .pagination-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-section {
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
}

.product-section .route {
  text-align: left;
}

.product-section .product-container {
  width: 100%;
  height: 1500px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'img info' 'desc desc';
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.product-section .product-container .image-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  width: 540px;
  height: 540px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 40px #0000001A;
          box-shadow: 0px 20px 40px #0000001A;
  border-radius: 5px;
}

.product-section .product-container .image-wrapper .pager {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
}

.product-section .product-container .info-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
  position: relative;
}

.product-section .product-container .info-wrapper .product-title {
  margin-top: 60px;
  text-align: left;
  font: normal normal 600 46px/54px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-section .product-container .info-wrapper .small-desc {
  text-align: left;
  font: normal normal normal 18px/30px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-section .product-container .info-wrapper .new-tag {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181818;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.product-section .product-container .info-wrapper .btn {
  width: 280px;
  height: 70px;
  background: #DC386D;
  border-radius: 6px;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.product-section .product-container .info-wrapper .basket-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.product-section .product-container .info-wrapper .basket-count input {
  width: 70px;
  height: 70px;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
}

.product-section .product-container .info-wrapper .basket-count span {
  margin-left: 10px;
  text-align: right;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-section .product-container .info-wrapper .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.product-section .product-container .info-wrapper .prices .discont {
  color: var(--unnamed-color-dc386d);
  text-align: left;
  font: normal normal bold 20px/32px Poppins;
  letter-spacing: 0px;
  color: #DC386D;
  margin-right: 20px;
}

.product-section .product-container .info-wrapper .prices .full {
  color: var(--unnamed-color-181818);
  text-align: left;
  text-decoration: line-through;
  font: normal normal medium 20px/32px Poppins;
  letter-spacing: 0px;
  color: #181818;
}

.product-section .product-container .text-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: desc;
  position: relative;
}

.product-section .product-container .text-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.product-section .product-container .text-wrapper ul li {
  width: 240px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DC386D 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 60px #0000001F;
          box-shadow: 0px 20px 60px #0000001F;
  text-align: center;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.product-section .product-container .text-wrapper ul li.active {
  background: #fff;
  color: #DC386D;
}

.product-section .product-container .text-wrapper .description-wrapper {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 20px 60px #0000001F;
          box-shadow: 0px 20px 60px #0000001F;
  padding: 40px;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 1;
}

.product-section .product-container .text-wrapper p {
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0.48px;
  color: #181818;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */